version = "{{ version | default('0.38.2') }}"

proxy_app = "{{ proxy_app | default('tcp://127.0.0.1:26658') }}"
moniker = "{{ moniker | default('jinu-canto') }}"
db_backend = "{{ db_backend | default('goleveldb') }}"
db_dir = "{{ db_dir | default('data') }}"
log_level = "{{ log_level | default('info') }}"
log_format = "{{ log_format | default('plain') }}"
genesis_file = "{{ genesis_file | default('config/genesis.json') }}"
priv_validator_key_file = "{{ priv_validator_key_file | default('config/priv_validator_key.json') }}"
priv_validator_state_file = "{{ priv_validator_state_file | default('data/priv_validator_state.json') }}"
priv_validator_laddr = "{{ priv_validator_laddr | default('') }}"
node_key_file = "{{ node_key_file | default('config/node_key.json') }}"
abci = "{{ abci | default('socket') }}"
filter_peers = "{{ filter_peers | default(false) }}"

[rpc]
laddr = "{{ rpc.laddr | default('tcp://127.0.0.1:26657') }}"
cors_allowed_origins = "{{ rpc.cors_allowed_origins | default([]) }}"
cors_allowed_methods = "{{ rpc.cors_allowed_methods | default(['HEAD', 'GET', 'POST']) }}"
cors_allowed_headers = "{{ rpc.cors_allowed_headers | default(['Origin', 'Accept', 'Content-Type', 'X-Requested-With', 'X-Server-Time']) }}"
grpc_laddr = "{{ rpc.grpc_laddr | default('') }}"
grpc_max_open_connections = "{{ rpc.grpc_max_open_connections | default(900) }}"
unsafe = "{{ rpc.unsafe | default(false) }}"
max_open_connections = "{{ rpc.max_open_connections | default(900) }}"
max_subscription_clients = "{{ rpc.max_subscription_clients | default(100) }}"
max_subscriptions_per_client = "{{ rpc.max_subscriptions_per_client | default(5) }}"
experimental_subscription_buffer_size = "{{ rpc.experimental_subscription_buffer_size | default(200) }}"
experimental_websocket_write_buffer_size = "{{ rpc.experimental_websocket_write_buffer_size | default(200) }}"
experimental_close_on_slow_client = "{{ rpc.experimental_close_on_slow_client | default(false) }}"
timeout_broadcast_tx_commit = "{{ rpc.timeout_broadcast_tx_commit | default('10s') }}"
max_body_bytes = "{{ rpc.max_body_bytes | default(1000000) }}"
max_header_bytes = "{{ rpc.max_header_bytes | default(1048576) }}"
tls_cert_file = "{{ rpc.tls_cert_file | default('') }}"
tls_key_file = "{{ rpc.tls_key_file | default('') }}"
pprof_laddr = "{{ rpc.pprof_laddr | default('localhost:6060') }}"

[p2p]
laddr = "{{ p2p.laddr | default('tcp://0.0.0.0:26656') }}"
external_address = "{{ p2p.external_address | default('') }}"
seeds = "{{ p2p.seeds | default('') }}"
persistent_peers = "{{ p2p.persistent_peers | default('') }}"
addr_book_file = "{{ p2p.addr_book_file | default('config/addrbook.json') }}"
addr_book_strict = "{{ p2p.addr_book_strict | default(true) }}"
max_num_inbound_peers = "{{ p2p.max_num_inbound_peers | default(240) }}"
max_num_outbound_peers = "{{ p2p.max_num_outbound_peers | default(30) }}"
unconditional_peer_ids = "{{ p2p.unconditional_peer_ids | default('') }}"
persistent_peers_max_dial_period = "{{ p2p.persistent_peers_max_dial_period | default('0s') }}"
flush_throttle_timeout = "{{ p2p.flush_throttle_timeout | default('100ms') }}"
max_packet_msg_payload_size = "{{ p2p.max_packet_msg_payload_size | default(1024) }}"
send_rate = "{{ p2p.send_rate | default(5120000) }}"
recv_rate = "{{ p2p.recv_rate | default(5120000) }}"
pex = "{{ p2p.pex | default(true) }}"
seed_mode = "{{ p2p.seed_mode | default(false) }}"
private_peer_ids = "{{ p2p.private_peer_ids | default('') }}"
allow_duplicate_ip = "{{ p2p.allow_duplicate_ip | default(false) }}"
handshake_timeout = "{{ p2p.handshake_timeout | default('20s') }}"
dial_timeout = "{{ p2p.dial_timeout | default('3s') }}"

[mempool]
type = "{{ mempool.type | default('flood') }}"
recheck = "{{ mempool.recheck | default(true) }}"
broadcast = "{{ mempool.broadcast | default(true) }}"
wal_dir = "{{ mempool.wal_dir | default('') }}"
size = "{{ mempool.size | default(10000) }}"
max_txs_bytes = "{{ mempool.max_txs_bytes | default(1073741824) }}"
cache_size = "{{ mempool.cache_size | default(10000) }}"
keep_invalid_txs_in_cache = "{{ mempool.keep_invalid_txs_in_cache | default(false) }}"
max_tx_bytes = "{{ mempool.max_tx_bytes | default(1048576) }}"
max_batch_bytes = "{{ mempool.max_batch_bytes | default(0) }}"
experimental_max_gossip_connections_to_persistent_peers = "{{ mempool.experimental_max_gossip_connections_to_persistent_peers | default(0) }}"
experimental_max_gossip_connections_to_non_persistent_peers = "{{ mempool.experimental_max_gossip_connections_to_non_persistent_peers | default(0) }}"

[statesync]
enable = "{{ statesync.enable | default(false) }}"
rpc_servers = "{{ statesync.rpc_servers | default('') }}"
trust_height = "{{ statesync.trust_height | default(0) }}"
trust_hash = "{{ statesync.trust_hash | default('') }}"
trust_period = "{{ statesync.trust_period | default('112h0m0s') }}"
discovery_time = "{{ statesync.discovery_time | default('15s') }}"
temp_dir = "{{ statesync.temp_dir | default('') }}"
chunk_request_timeout = "{{ statesync.chunk_request_timeout | default('10s') }}"
chunk_fetchers = "{{ statesync.chunk_fetchers | default('4') }}"

[blocksync]
version = "{{ blocksync.version | default('v0') }}"

[consensus]
wal_file = "{{ consensus.wal_file | default('data/cs.wal/wal') }}"
timeout_propose = "{{ consensus.timeout_propose | default('3s') }}"
timeout_propose_delta = "{{ consensus.timeout_propose_delta | default('500ms') }}"
timeout_prevote = "{{ consensus.timeout_prevote | default('1s') }}"
timeout_prevote_delta = "{{ consensus.timeout_prevote_delta | default('500ms') }}"
timeout_precommit = "{{ consensus.timeout_precommit | default('1s') }}"
timeout_precommit_delta = "{{ consensus.timeout_precommit_delta | default('500ms') }}"
timeout_commit = "{{ consensus.timeout_commit | default('5s') }}"
double_sign_check_height = "{{ consensus.double_sign_check_height | default(0) }}"
skip_timeout_commit = "{{ consensus.skip_timeout_commit | default(false) }}"
create_empty_blocks = "{{ consensus.create_empty_blocks | default(true) }}"
create_empty_blocks_interval = "{{ consensus.create_empty_blocks_interval | default('0s') }}"
peer_gossip_sleep_duration = "{{ consensus.peer_gossip_sleep_duration | default('100ms') }}"
peer_query_maj23_sleep_duration = "{{ consensus.peer_query_maj23_sleep_duration | default('2s') }}"

[storage]
discard_abci_responses = "{{ storage.discard_abci_responses | default(false) }}"

[tx_index]
indexer = "{{ tx_index.indexer | default('kv') }}"
psql_conn = "{{ tx_index.psql_conn | default('') }}"

[instrumentation]
prometheus = "{{ instrumentation.prometheus | default(false) }}"
prometheus_listen_addr = "{{ instrumentation.prometheus_listen_addr | default(':26660') }}"
max_open_connections = "{{ instrumentation.max_open_connections | default(3) }}"
namespace = "{{ instrumentation.namespace | default('cometbft') }}"
